@import "tailwindcss";

.glimpses-arc-section {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}

.arc-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
  margin-left: 0%;
}

.gallery-item {
  position: absolute;
  bottom: 0;
  width: 25vw;
  height: 60vh;
  transition: transform 0.3s, opacity 0.3s;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.embla__slide {
  transform: scale(0.75);
  opacity: 0.5;
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.embla__slide.is-snapped {
  transform: scale(1);
  opacity: 1;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer utilities {
  .mask-fade-edges {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 15%,
      black 85%,
      transparent
    );
  }
}

/* Default body text */
body {
  font-family: var(--font-body), system-ui, sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), serif;
}

/* Paragraphs */
p {
  font-family: var(--font-body), system-ui, sans-serif;
}

a {
  font-family: var(--font-body), system-ui, sans-serif;
}