@import "tailwindcss";

.glimpses-arc-section {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}

.arc-gallery {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
  margin-left: 0%;
}

.gallery-item {
  position: absolute;
  bottom: 0;
  width: 25vw;
  height: 60vh;
  transition: transform 0.3s, opacity 0.3s;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.embla__slide {
  transform: scale(0.75);
  opacity: 0.5;
  transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.embla__slide.is-snapped {
  transform: scale(1);
  opacity: 1;
}
